/* Main button play video */
#startButton {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    /* display: none; */
    opacity: 0;
    background: red;
    border-radius: 20px;
    border: 2px solid #fff;
    transition: opacity .5s ease-out;
}

/* Title */
#video_title{
    transition: opacity .5s ease-out; 
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0.3em;
}

/* Margin icon play video */
.icon-tabler-player-play-filled{
    margin: 3px 10px 0 10px;
}

/* Footer */
footer {
    background-color: transparent; 
    color: #333; 
    text-align: center; 
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
  
footer p {
    font-family: "Bebas Neue", sans-serif;
    margin: 0; 
    font-size: 14px;
}